.content-wrapper {
    padding: 1.5rem;
}

.navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini img,
.navbar .navbar-brand-wrapper .navbar-brand img {
    height: unset;
}

.dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #9021ff;
}

.table td {
    cursor: pointer;
}

/*  */
.container-scroller.joinroom {
    overflow: auto;
}

.joinroom .main-panel {
    width: 100%;
}


.joinroom .card {
    overflow: auto;
}



.card-body.shortvideo-card,
.card-body.mainvideo-card {
    padding: 1rem;
}

.card-body.mainvideo-card .btn-section {
    padding: 10px;
}

.video-box video {
    width: 100%;
    height: 100%;
}

.btn-section {
    display: flex;
    justify-content: center;
}

.btn-section button {
    padding: 10px;
    margin-right: 20px;
}

.sidebar .nav {
    position: fixed;
    width: inherit;
}
.auth .auth-form-light select,
select.form-control {
    color: inherit;
}

div.dataTables_wrapper div.dataTables_length select {
    padding: 0 15px 0 5px;
    height: 20px;
}

.auth form .form-group .form-control{
    padding: 15px;
}


.auth-form-light{
    padding: 2rem;
}

@media only screen and (min-width:992px){
    .shortvideo-card.card-body {
        height: 590px;
    }
    .card-body.mainvideo-card .video-box{
        height: 500px;
    }
}